<div class="bg"></div>
<div class="jumbotron text-center">
  <div class="bg"></div>
  <h1>Academic Office</h1>
  <p class="lead">Welcome to Academic Office in University of Colombo School of Computing</p>
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Register</a> <a class="btn btn-success" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h3>Create Profile</h3>
      <p>You Can Register to the System & Automatically Create Your Account.</p>
    </div>
    <div class="col-md-4">
      <h3>Login Profile</h3>
      <p>After Register, You can Login to Your Account.</p>
    </div>
    <div class="col-md-4">
      <h3>Request Leave</h3>
      <p>Every Academic Staff Member can Request A Leave Online.</p>
    </div>
  </div>
</div>


